#ecran{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    
}
.red{
    background-color: red;
    color: orange;
}
.blue{
    background-color: blue;
    color: turquoise;
}
.green{
    background-color: yellowgreen;
    color:yellow;
}
.black{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
    color: black;
}

.turquoise{
    background-color: turquoise;
    color: mediumslateblue;
}

.violet{
    background-color: violet;
    color: rebeccapurple;
}

.orange{
    background-color: orange;
    color: yellowgreen;
}

.cart_price{
    margin-left: 10px;
}
.cart_price::after,.total_price::after{
    content: "€";
}